{% extends 'company/base.html' %}
{% block content %}
{% load static %}

<div class="container" style="padding: 5%;">
    <div class="container" style="text-align: left; padding-bottom: 2%;">
        <h2 class="h2" style="font-weight: bold;font-size: 32px;">Flexi Table</h2>
        <!-- Slogan im gleichen grauen Farbton wie der Infotext -->
        <p style="color: #a47551af;  font-size: 20px;">The perfect balance of durability, flexibility, and
            style for your workspace.</p>
    </div>

    <!-- Configurator Section -->
    <div class="container" style="display: flex; justify-content: space-between; padding-top: 3%; padding-bottom: 5%;">
        <!-- Boxen nach oben verschoben -->
        <!-- Form Section on the Left -->
        <div class="col-6" style="max-width: 48%; padding-right: 5%;">
            <!-- Option to Choose Configuration Mode -->
            <div class="form-group">
                <label for="configMode"><strong>Choose Configuration Mode:</strong></label>
                <select class="form-control" id="configMode" onchange="toggleConfigMode()">
                    <option value="calculator">Use Desk Height Calculator</option>
                    <option value="manual">Enter Desk Values Manually</option>
                </select>
            </div>

            <!-- Manual Input Mode -->
            <div id="manualMode" style="display: none;">
                <form action="{% url 'product:manually' %}" method="post" name="TableManuallyDraft"
                      id="TableManuallyDraft">
                    <div class="form-group">
                        <label for="manualDeskHeight"><strong>Desk Height (cm)</strong></label>
                        <input type="number" class="form-control" id="table" name="manualDeskHeight"
                               placeholder="Enter desk height in cm" required min="1" max="200">
                    </div>
                    <div class="form-group">
                        <label for="manualDeskDepth"><strong>Desk Depth (cm)</strong></label>
                        <input type="number" class="form-control" id="table" name="manualDeskDepth"
                               placeholder="Enter desk depth in cm" required min="1" max="200">
                    </div>
                    <div class="form-group">
                        <label for="manualDeskLength"><strong>Desk Length (cm)</strong></label>
                        <input type="number" class="form-control" id="table" name="manualDeskLength"
                               placeholder="Enter desk length in cm" required min="1" max="200">
                    </div>
                    <div class="form-group">
                        <label class="label" for="table">Quantity</label>
                        <input type="number" class="form-control" id="table" name="quantity"
                               placeholder="Enter quantity" required min="1">
                    </div>
                    <button type="submit" value="Submit" class="btn btn-save">Save Draft</button>
                </form>
            </div>

            <!-- Calculator Mode -->
            <div id="calculatorMode" style="display: none;">
                <form action="{% url 'product:configurator' %}" method="post" name="TableDraft" id="TableDraft">
                    <div class="form-group">
                        <label class="label" for="table">Your Body Height (cm)</label>
                        <input type="number" class="form-control" id="table" name="inputBodyHeight"
                               placeholder="Enter body height in cm" required min="1" max="200">
                    </div>
                    <div class="form-group">
                        <label class="label" for="table">Desk Length (cm)</label>
                        <input type="number" class="form-control" id="table" name="length"
                               placeholder="Enter length in cm" required min="1" max="200">
                    </div>
                    <div class="form-group">
                        <label class="label" for="table">Desk Depth (cm)</label>
                        <input type="number" class="form-control" id="table" name="depth"
                               placeholder="Enter depth in cm" required min="1" max="200">
                    </div>
                    <div class="form-group">
                        <label class="label" for="table">Quantity</label>
                        <input type="number" class="form-control" id="table" name="quantity"
                               placeholder="Enter quantity" required min="1">
                    </div>
                    <button type="submit" value="Submit" class="btn btn-save">save draft</button>
                </form>
            </div>
        </div>
        <!-- Image Section -->
        <div style="max-width: 48%; padding-left: 5%; text-align: center;margin-top: 5px">
            <!-- Large Image -->
            <div style="position: relative;">
                <img id="largeImage" src="{% static 'product/Tisch 1.jpg' %}"
                     class="rounded"
                     style="width: 100%; max-width: 400px; height: 300px; object-fit: contain;"
                     alt="Large Box Image">
                <!-- Next Arrow Button -->
                <button id="nextImageBtn"
                        style="position: absolute; top: 40%; right: 10px; transform: translateY(-50%);
                           color: #a47551af;
                           padding: 10px; font-size: 24px; background-color: transparent; border: none;
                           cursor: pointer; transition: all 0.3s ease;">
                    →
                </button>
                <!-- Thumbnail Navigation -->
                <div style="display: flex; justify-content: center; gap: 10px; padding-top: 20px;">
                    <img src="{% static 'product/Tisch 1.jpg' %}" class="thumbnail"
                         onclick="changeImage(this.src)"
                         style="width: 20%; max-width: 80px; height: 60px; object-fit: contain; cursor: pointer;"
                         alt="Thumbnail 1">
                    <img src="{% static 'product/Tisch 2.jpg' %}" class="thumbnail"
                         onclick="changeImage(this.src)"
                         style="width: 20%; max-width: 80px; height: 60px; object-fit: contain; cursor: pointer;"
                         alt="Thumbnail 2">
                    <img src="{% static 'product/Tisch 3.jpg' %}" class="thumbnail"
                         onclick="changeImage(this.src)"
                         style="width: 20%; max-width: 80px; height: 60px; object-fit: contain; cursor: pointer;"
                         alt="Thumbnail 3">
                    <img src="{% static 'product/Tisch 4.jpg' %}" class="thumbnail"
                         onclick="changeImage(this.src)"
                         style="width: 20%; max-width: 80px; height: 60px; object-fit: contain; cursor: pointer;"
                         alt="Thumbnail 4">
                    <img src="{% static 'product/TischMasskette.jpg' %}" class="thumbnail"
                         onclick="changeImage(this.src)"
                         style="width: 20%; max-width: 80px; height: 60px; object-fit: contain; cursor: pointer;"
                         alt="Thumbnail 5">
                    
                         
                </div>
            </div>
        </div>
        <script>
            // JavaScript for Thumbnail Click
            function changeImage(src) {
                document.getElementById('largeImage').src = src;
            }

            // JavaScript for Next Button
            let currentIndex = 0;
            const imageSources = [
                "{% static 'product/Tisch 1.jpg' %}",
                "{% static 'product/Tisch 2.jpg' %}",
                "{% static 'product/Tisch 3.jpg' %}",
                "{% static 'product/Tisch 4.jpg' %}",
                "{% static 'product/TischMasskette.jpg' %}"
            ];

            document.getElementById('nextImageBtn').addEventListener('click', () => {
                currentIndex = (currentIndex + 1) % imageSources.length; // Cycle through images
                document.getElementById('largeImage').src = imageSources[currentIndex];
            });
        </script>
    </div>
</div>

<div class="container" style="text-align: left; padding-bottom: 2%; width: 80%;">
    <h2 class="h2" style="font-weight: bold;font-size: 20px;">Description</h2>
    <!-- Slogan im gleichen grauen Farbton wie der Infotext -->
    <p style="color: #a47551af;  font-size: 20px;">The Flexi Table Configurator allows you to design a table perfectly suited to your body size, ensuring better ergonomics, comfort, and productivity in your workspace. 
        <br><br> There are two options, either <u>to configure the table based on your body height</u> for two positions, the standard sitting position and the standing position. The software will calculate the most optimal and ergonomic table height for both positions based on your height. It is also possible to <u>manually configure the table by such parameters as length, depth and height</u>. 
        <br><br>The main advantages of the table are its relatively cheap and fast production, which can be carried out anywhere in the world. Not only wood can be used as the main material, but also plastic or corrugated cardboard reinforced with mdf boards. In addition, such a table is easy enough to make at home with the necessary materials, tools and instructions.  
        <br><br>In future improvements to the website, a function to select the target audience will be added because the target audience of flexi is not only private customers, but also schools, universities and other educational institutions. As it would be more logical for a university to create the appropriate number of students for a range of heights at once. as well as choose colours for the size scale that helps with faster visual search.
    </p>
</div>





<script>
    // Funktion zum Wechseln des Bildes durch Klicken auf die Thumbnails
    function changeImage(src) {
        document.getElementById('largeImage').src = src;
    }

    // Funktion zum Wechseln des Bildes nach rechts
    function nextImage() {
        const images = [
            "{% static 'product/Tisch 1.jpg' %}",
            "{% static 'product/Tisch 2.jpg' %}",
            "{% static 'product/Tisch 3.jpg' %}",
            "{% static 'product/Tisch 4.jpg' %}"
        ];

        const currentImage = document.getElementById('largeImage').src.split('/').pop(); // Nur den Dateinamen extrahieren
        let currentIndex = images.indexOf(`{% static 'product/${currentImage}' %}`);

        if (currentIndex === images.length - 1) {
            currentIndex = -1; // Gehe zurück zum ersten Bild
        }

        document.getElementById('largeImage').src = images[currentIndex + 1];
    }
</script>

<script>
    // Toggle between calculator and manual input
    function toggleConfigMode() {
        const mode = document.getElementById("configMode").value;
        if (mode === "calculator") {
            document.getElementById("calculatorMode").style.display = "block";
            document.getElementById("manualMode").style.display = "none";
        } else {
            document.getElementById("calculatorMode").style.display = "none";
            document.getElementById("manualMode").style.display = "block";
        }
    }

    // Initialize the configuration mode on page load
    document.addEventListener("DOMContentLoaded", function () {
        toggleConfigMode(); // Ensure the correct mode is displayed
    });
</script>

{% endblock %}
