{% extends 'company/base.html' %}
{% block content %}

<!-- <header>
    <h1>Products</h1>
</header> -->
<div class="container" style="padding: 5%;">
    <div class="container" style="text-align: center; padding-bottom: 3%;" >
        <h1 style="color: #7A9E7E;">Draft successfully saved.</h2>
        <h4 style="color: #7A9E7E;">You can find your drafts in your <a href="{% url 'profile:drafts' %}" style="color: #7A9E7E;"> profile</a>.</h2>
    </div>
    <!-- <div class="container row">
        <div class="col-6" style="text-align: center;">
            <h3><a class="h2" href="{% url 'product:box' %}">Connectable Boxes</a></h3>
        </div>
        <div class="col-6" style="text-align: center;">
            <h3><a class="h2" href="{% url 'product:configurator' %}">Table Configurator</a></h3>
        </div>
    </div> -->
</div>

{% endblock %}
