{% extends 'company/base.html' %}
{% block content %}
{% load static %}

<div class="container" class="container" style="padding: 5%; display: flex; align-items: center; justify-content: space-between; font-family: 'Helvetica Neue', sans-serif; color: #7A9E7E;">
    <!-- Textbereich -->
    <div style="flex: 1; max-width: 60%; padding-right: 20px;">
        <h1 style="font-size: 32px; font-weight: bold; color: #7A9E7E;">Draft successfully saved.</h1>
        <h3 style="font-size: 20px; font-weight: normal; color: #7A9E7E;">Thank you very much for your interest in our product.</h3>
        <h4 style="font-size: 20px; font-weight: normal; margin-top: 20px; line-height: 1.8; color: #A47551;">
            Would you like to review your draft? You can find your drafts in your
            <a href="{% url 'profile:drafts' %}" style="color: #A47551; text-decoration: underline;">profile</a>.
        </h4>
    </div>

    <!-- Bildbereich -->
    <div style="flex: 1; max-width: 45%; text-align: center;">
        <img src="{% static 'company/IMG_0721.png' %}" alt="Decorative Image" style="width: 80%;">
    </div>
</div>

{% endblock %}
