/* Hero-Bereich */
.hero-section {
    position: relative;
    width: 70%;
    height: 40vh;
    background-image: url('../../../../static/company/pictures/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

/* Text-Styling */
.hero-text {
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Leichte Hintergrundfarbe */
    padding-top: 1px;
    border-radius: 10px;
    max-width: 50%; /* Optional: Begrenze die Breite des Textes */
    text-align: left; /* Text linksbündig */
}

/* Überschrift */
.hero-text h2 {
    font-size: 50px;
    font-weight: 600;
    color: #7A9E7E;
    padding-left: 5%;
}

/* Absatz */
.hero-text h3, .hero-text p {
    padding-top: 15px;
}

.hero-text p {
    font-size: 24px;
    color: #A4755180;
    margin-top: 15px;
}

/* Button */
.hero-text .btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #7A9E7E;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
