{% extends 'company/base.html' %}
{% block content %}

<div class="container" style="padding: 5%;">
    <div class="container" style="text-align: center; padding-bottom: 3%;">
        <h2 class="h2">Your saved drafts for FlexiTable </h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Body Height</th>
            <th scope="col">Stand Height</th>
            <th scope="col">Sitting Height</th>
            <th scope="col">Depth</th>
            <th scope="col">Length</th>
            <th scope="col">Material</th>
            <th scope="col">Quantity</th>

        </tr>
        </thead>
        <tbody>
        {% for idx, bh, sth, sh, w, l, mat, q in items%}
        <tr>
            <th scope="row">{{ idx }}</th>
            <td>{{ bh }}</td>
            <td>{{ sth }}</td>
            <td>{{ sh }}</td>
            <td>{{ w }}</td>
            <td>{{ l }}</td>
            <td>{{ mat }}</td>
            <td>{{ q }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container" style="padding: 5%;">
    <div class="container" style="text-align: center; padding-bottom: 3%;">
        <h2 class="h2">Your saved drafts for FlexiBox </h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Box Height</th>
            <th scope="col">Box Length</th>
            <th scope="col">Box Depth</th>
            <th scope="col">Quantity</th>

        </tr>
        </thead>
        <tbody>
        {% for idx, bxh, bxl, bxd, bq, in items%}
        <tr>
            <th scope="row">{{ idx }}</th>
            <td>{{ bxh }}</td>
            <td>{{ bxl }}</td>
            <td>{{ bxd }}</td>
            <td>{{ bq }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
